#outer_grid_container {
    display: grid;
    grid-template-columns: repeat(3, 15vw);
    grid-template-rows: repeat(3, 15vw);
    border: 3px solid black;
    width: fit-content;
}

.outer_grid_item {
    display: grid;
    grid-template-columns: repeat(3, 5vw);
    grid-template-rows: repeat(3, 5vw);
    border: 3px solid black;
}

.inner_grid_item {
    border: 1px solid black;
    text-align: center;
    padding-top: 38%;
}

.inner_grid_item.highlighted {
    box-shadow: 0 0 5px 5px deepskyblue inset;
}

.digit_in {
    width: 50%;
    border: none;
}
